/.quarto/
/_book/
/.quarto-needs/
/_extensions/quarto-needs/*
!/_extensions/quarto-needs/_extension.yml
!/_extensions/quarto-needs/needs.lua
!/_extensions/quarto-needs/shortcodes.lua
!/_extensions/quarto-needs/adr-shortcodes.lua
**/*.quarto_ipynb
